<a href="https://colab.research.google.com/github/AfonsoRafael/Tecnicas_Desenvolvimento_AlgoritmosUDF/blob/main/008PythonConjuntos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conjuntos
estrutura de dados set
É uma coleção de objetos com elementos unicos, sem ter elementos duplicados
Não confiar na ordem que ele devolve

In [ ]:
numero = set([1,2,3,5,4,6,1,1,2,5,])
palavra = set("abacaxi")
lista = {"vasco","palmeiras","vasco","palmeiras"}
palavras = set(["vasco","palmeiras","vasco","palmeiras"]) # foma mais usual
print(numero)
print(palavra)
print(lista)
print(palavras)

{1, 2, 3, 4, 5, 6}
{'x', 'i', 'b', 'c', 'a'}
{'palmeiras', 'vasco'}
{'palmeiras', 'vasco'}

Se eu precisar acessar os dados, o set não é indexavel então não é possivel localizar o elemento

para isso é necessario transformar em lista

In [ ]:
numero = {1,2,3,25,2,1,5,4,6}
numero = list(numero)
print(numero[0])

1

In [ ]:
# iterar pode
numero = {1,2,3,25,2,1,5,4,6}
for i in numero:
  print(i)
for indice,i in enumerate(numero):
  print(indice,i)

1
2
3
4
5
6
25
0 1
1 2
2 3
3 4
4 5
5 6
6 25

In [ ]:
# metodos union, intersection, difference, symmetric_difference, issubset, issuperset, isdisjoint ,
conjunto_a = {1,2,3}
conjunto_b = {3,4,5}
conjunto_c = {1,2,3,4,5}
print(conjunto_a.union(conjunto_b))# união
print(conjunto_a.intersection(conjunto_b))# partes iguais, interseção
print(conjunto_a.difference(conjunto_b))# apenas o conjunto a sem o que faz parte dos dois
print(conjunto_a.symmetric_difference(conjunto_b))# a diferença entre os conjuntos
print(conjunto_a.issubset(conjunto_c))# se o conjunto a está contido no conjunto c retorna v ou f
print(conjunto_a.issubset(conjunto_b))# se o conjunto a está contido no conjunto b
print(conjunto_a.issuperset(conjunto_c))# se o conjunto c está contido no conjunto a retorna v ou f
print(conjunto_a.issuperset(conjunto_b))# se o conjunto b está contido no conjunto a
print(conjunto_a.isdisjoint(conjunto_b))# se não tem elementos iguais retorna, se são conjuntos diferentes

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}
True
False
False
False
False

In [ ]:
#add
sorteio = {1,23}
print(sorteio)
sorteio.add(25)# adiciona um novo elemento
sorteio.add(10)
sorteio.add(25) #Se esse elemento existir ja ele ignora
print(sorteio)

{1, 23}
{1, 10, 25, 23}

In [ ]:
#clear
sorteio = {1,23}
print(sorteio)
sorteio.add(25)# adiciona um novo elemento
sorteio.add(10)
sorteio.add(25) #Se esse elemento existir ja ele ignora
print(sorteio)
sorteio.clear()# Limpa o set
print(sorteio)

{1, 23}
{1, 10, 25, 23}
set()

In [ ]:
# copy

sorteio = {1,23}
print(sorteio)
sorteio2 = sorteio.copy() # copia igual lista e tupla
print(sorteio2)

{1, 23}
{1, 23}

In [ ]:
# discard
numeros = {1,3,4,5,7,6,8,5,6,22,11,15,14,3,1,1,1}
print(numeros)
numeros.discard(1)# remove o elemento
print(numeros)
numeros.discard(45)# não remove nada pois não existe esse numero
print(numeros)

{1, 3, 4, 5, 6, 7, 8, 11, 14, 15, 22}
{3, 4, 5, 6, 7, 8, 11, 14, 15, 22}
{3, 4, 5, 6, 7, 8, 11, 14, 15, 22}

In [ ]:
# pop, normalmente tira o primeiro valor
numeros = {1,3,4,5,7,6,8,5,6,22,11,15,14,3,1,1,1}
print(numeros)
numeros.pop()# remove um elemento aleatorio
numeros.pop()
print(numeros)

{1, 3, 4, 5, 6, 7, 8, 11, 14, 15, 22}
{4, 5, 6, 7, 8, 11, 14, 15, 22}

In [ ]:
# remove
numeros = {1,3,4,5,7,6,8,5,6,22,11,15,14,3,1,1,1}
print(numeros)
numeros.remove(1)# remove o elemento
print(numeros)
numeros.remove(45)# da erro pois diferente do discard ele não ignora
print(numeros)

{1, 3, 4, 5, 6, 7, 8, 11, 14, 15, 22}
{3, 4, 5, 6, 7, 8, 11, 14, 15, 22}

KeyError: 45

In [ ]:
#len
numeros = {1,3,4,5,7,6,8,5,6,22,11,15,14,3,1,1,1}
print(numeros)
print(len(numeros))# quantidade de elementos

{1, 3, 4, 5, 6, 7, 8, 11, 14, 15, 22}
11

In [ ]:
#in verificar se tem um elemento no set
numeros = {1,3,4,5,7,6,8,5,6,22,11,15,14,3,1,1,1}
print(numeros)
print(1 in numeros)
print(45 in numeros)

{1, 3, 4, 5, 6, 7, 8, 11, 14, 15, 22}
True
False